@font-face {
	font-family: 'NanumGothic-Regular';
	src: url('../font/NanumGothic-Regular.ttf');
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url('../font/Raleway-Regular.ttf');
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../font/Raleway-Bold.ttf');
}


@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Regular.ttf');
}

* {
	margin: 0; 
	padding: 0;
	/*overflow-x: hidden;*/
	font-family: "roboto";
}

body {
	font-family: 'Raleway-Regular';
	background: #f9f9f9;
	color: #000;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
	overflow-x: hidden;
	position: relative;
}

/*NEW NAVBAR*/
nav {
	position: fixed;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
	z-index: 1;
	overflow: hidden;
}
nav.black {
	
	background:  	#0050EF;
	height: 100px;
	padding: 10px 100px;


}

nav .logo {
	padding: 22px 20px;
	width: 211px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

nav.black .logo {
	color: #fff;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 80px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	transition: .3s;
}

nav.black ul li a {
	color: #fff;
}

nav ul li a:focus {
	outline: none;
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav ul li a:hover:before {
  /* visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); */
}

nav ul li .nav-link:hover {
	outline: none;
	text-decoration: none;
	color: white;
	text-decoration: underline;
	
}

nav ul li a.active {
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
	text-decoration: underline;
}

section.sec1 {
	width: 100%;
}

/* Font classes */
.bold {
	font-family: 'Raleway-Bold';
	margin:0;
	


}
.big {
	font-size: 6rem;
	color: white;
}
.nanum {
	font-family: 'roboto';
	font-weight: 500;
	font-size: 3.2vmin;
	max-width: 80%;
	/* color: #feca57;
	 */
	color: white;
	 margin-top: 20px;
}


.lato {
	font-family: 'Lato-Regular';
}

.main-logo {
	position: fixed;
    width: 165px;
    margin-top: 13px;
    margin-left: 35px;
    z-index: 1;
}
.font-logo {
	font-family: 'Raleway-Regular';
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.jumbotron.jumbotron-fluid.bgwhite {
	background-color:white;
}

.changeColor {
	background: #fff;
	transition: background-color 0.5s linear;
}

.changeColor2 {
	background: #020202;
	transition: background-color 0.5s linear;
}
.changeColor3 {
	background: #8adbfb;
	color: black;
	transition: background-color 0.5s linear;
}


#banner-solutions,
#banner-whywork {
	min-height: 100vh;
	background-color: white;
	width: 100%;
	position: relative;
	background-color:  	#0050EF;
	z-index: -1;
	overflow: hidden;

}

.content-wrap-why {
	padding-bottom: 100px;
	width: 100%;
	float: left;
	padding-top: 320px;
	text-align: left;
	padding-left: 10%;
	width: 100%;
}

.accredited {
	position: relative;
	widows: 100%;
	height: 50vh;
	padding-top: 40px;
	text-align: center;
	align-content: center;
}

.accredited img {
	width: 200px;
	height: 200px;
	margin: auto;
}




 .bg-blue {

	position: absolute;
	background:#0050EF url('../img/backdropz2.png') no-repeat;
	background-position: bottom;
	background-size: contain;
	width: 100%;
	height: 100vh;
	z-index: -2 ;
	bottom: 0px;
	left: 0px;
}



/*#banner .bg-image {
	position: absolute;
	background: #1b53b9 url('./img/tim1.png') no-repeat;
	background-position: bottom;
	background-size: contain;
	width: 100%;
	height: 100vh;
	z-index: -1;
	opacity: 0.88;
}*/

#banner {
	min-height: 100vh;
	background-color: white;
	width: 100%;
	position: relative;
	background-color:  	#0050EF;
	z-index: -1;
	overflow: hidden;
}

#banner .bg-image {
	position: absolute;
	background: url('../img/headerrevised2.png') no-repeat;
	background-position: bottom;
	background-size: contain;
	width: 100%;
	height: 100vh;
	z-index: -2 ;
	bottom: 0px;
	left: 0px;
}
#banner .bg-image2 {
	position: absolute;
	background: url('../img/steerh.png') no-repeat;
	background-position: bottom;
	background-size: cover;
	width: 100%;
	height: 100vh;
	z-index: -3;
	opacity: 0.88;

}




 #banner .content-wrap,
 #banner-whywork .content-wrap {
	padding-bottom: 100px;
	width: 100%;
	float: left;
	padding-top: 250px;
	text-align: center;
	/* padding-left: 50px; */
	width: 100%;
}

.section-text-container {
	text-align: left;
}

.section-text-container h1{
	color: #0050EF;
}
.section-text-container p {
	font-size: 1.5rem;
	line-height: 1.6rem;
}

.section-text-container .a {
	font-size: 2.6rem !important;
	color: blue;
}

.section-text-container-work {
	text-align: left;
	width: 34rem;
}


/*NEW CARDS*/
/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 50px; /* layout hack */
	background: #ECF0F1 center center no-repeat;
	background-size: cover;
	transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
	/*filter: blur(3px);  blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;

	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}
.card-list {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 100%;
	max-width: 25rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -2rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
	border: 0px;
	background-color: #F3F3F3;
	/* padding: 20px; */
	font-family: 'roboto';
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.solutions {
	background-color: rgb(236, 239, 240);
	padding: 40px 0px 100px 0px;
}
 .title {
	color:#0050EF;
	font-size: 3rem;
	padding-top: 50px;	
}

.sub-title {
	margin-bottom: 40px;


}


.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
	font-size: 1.5rem;
}

/*Consult button*/
.consult-button {
	color: #000;
	font-size: 25px;
	border: #fff solid 1px;
	border-radius: 12px;
	padding: 15px;
	background-color: #f3f3f3;
	display: inline-block;
	text-decoration: none;
}
.consult-button:hover {
	text-decoration: none;
	color: #fff;
	background-color: #fff0;
	transition: .3s;
	border: #fff solid 3px;
}
.consult-button-black {
	color: #2c2c2c;
	font-size: 25px;
	border: #2c2c2c solid 1px;
	border-radius: 12px;
	padding: 15px;
	background-color: #f3f3f3;
	display: inline-block;
}
.consult-button-black:hover {
	text-decoration: none;
	color: #fff;
	background-color: #2c2c2c;
	transition: .3s;
	border: #2c2c2c solid 3px;
}

#deserve{
	padding: 70px;	
	background-color: #1b56c5;
}
#deserve h3,
#deserve h4 {
	color: #fff;
	margin-bottom: 30px;
	margin-top: 10px;
}

#overview,
#services,
#section-a,
footer {
	padding-top: 100px;
	padding-left: 150px;
    padding-right: 150px;
	/*min-height: 100vh;*/
	/*border-bottom: 2px solid #fdfdfd00;*/
}
#section-a{
	background: #fff;
}
#services {
	background:#ECF0F1;
}
#about-us {

	padding-bottom: 300px;
	font-size: 40px;
	background-color: #2359BB;
	color: white;
	
} 
#about-us h1{
	padding-top: 250px;
	font-size: 4rem;
	margin-bottom: 20px;
	/* position: relative; */
}

span#about-style {
	/* color: red; */
	/* border-top:  4px solid #5f27cd; */
	/* color: #2359BB; */
	color:white;
}
.ai{

	border: 7px dashed #1BA1E2;
	/* border-style: dashed; */
	padding: 3px;

}
#about-us p {
	
	font-size: 1.6rem;
	font-family: "roboto";
	width: 70%;
	margin: 0 auto;

}
#about-us .content-wrap{
	margin-left: 30px;
	margin-right: 30px;
}

#services h1,
#services p{
	color: #000;
}
/* #services h1{
	margin-top: 120px;
} */
.flex-container {
	display: flex;

}
.flex-container .box {
	padding: 20px;
	margin: auto;
	flex-shrink: 1;
}

/* services slideshow */
.services-slideshow {
	height: 250px;
	/*max-width: 800px;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.services-slideshow > div {
	/*height: 200px;*/
    /*width: 3000px;*/
    width: 100%;
    /*background: url(./img/long.png);
    background-size: 2000px;*/
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);	
}

.services-slideshow .mover-1 {
	animation: moveSlideshow 30s linear infinite;
}
.services-slideshow .mover-1:hover {
	animation-play-state: paused;
}

@keyframes moveSlideshow {
	100% { 
		transform: translateX(-66.6666%);  
	}
}
.services-slideshow .mover-1 img{
	width: 200px;
}

#particles-js{
	background-position: center;
	width: 100%;
	top: 1300px;
	left: 0;
	position: absolute;
	z-index: 0;
}
/* Why work with us */

div#confident,
section#exp,
section#adapt {
	min-height: 50vh;
	margin-top: 12em;
	margin: auto;
	background-color: white;
	/*padding: 0px 100px;*/
}



#adapt .content-wrap,
#exp .content-wrap,
#confident .content-wrap {
	margin-top: 33px;
    margin-left: 50px;
    margin-right: 50px;
}
.img-wrap {
	width: 26rem;
}

.why-work{

	padding: 40px 0px 100px 0px;

}

.whywork-body{
	width: 100%;
	height: 80vh;
	text-align: center;
	align-content: center;
}

.whywork-description {
	width: 100%;
	padding: 20px;
}
.whywork-description h2{
	float: left;
	color: #0050EF;
}
.whywork-description p {
	clear: both;
	text-align: left;
}
.whywork-image {
	width: 80%;
	height: 80%;
	margin: auto;
}
.w80{
	width: 80%;
	margin: 0 auto;
}

.slides {
	margin-top: 60px;
}
.slick-dots a {
	color: blue;
}

.img1 {
	clip-path: polygon(32% 0, 82% 4%, 97% 31%, 99% 99%, 70% 100%, 30% 100%, 10% 80%, 16% 17%);
	background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.img2 {
	background: #00F260;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	clip-path: polygon(50% 0%, 89% 5%, 95% 28%, 98% 71%, 83% 93%, 54% 100%, 23% 100%, 2% 79%, 1% 28%, 17% 5%);

}

.img3 {
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
clip-path: polygon(50% 0%, 100% 0, 100% 43%, 96% 86%, 72% 100%, 32% 100%, 2% 90%, 0% 43%, 4% 4%);
}

.img4 {
	background: #1488CC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	clip-path: polygon(38% 0, 94% 3%, 98% 100%, 10% 99%, 0 16%);

}

.img5 {
	background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

clip-path: polygon(18% 0, 90% 0, 100% 100%, 0% 100%);
	

}

.img6 {
	clip-path: polygon(87% 0, 98% 7%, 100% 43%, 99% 88%, 90% 100%, 18% 96%, 1% 63%, 0 23%, 15% 2%);
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.img7{
	
-webkit-clip-path: polygon(4% 0, 100% 0, 87% 95%, 9% 96%);
clip-path: polygon(4% 0, 100% 0, 87% 95%, 9% 96%);
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*Solutions*/
#solution-one {
	padding-top: 50px;
    padding-bottom: 50px;
    min-height: 50vh;
    background: #d4d4d4;
}

#solution-one .content-wrap {
	text-align: center;
	padding-left: 116px;
}

#solution-two {
    padding-top: 50px;
    padding-left: 116px;
    padding-right: 116px;
    padding-bottom: 50px;
    background: #f9f9f9;
}

#solution-two h4 {
	margin-bottom: 30px;
}

#solution-one h1,
#solution-two h1 {
	margin-bottom: 50px;
}

.bg-wrap-left {
	background: #3c67c1;
    border-radius: 71px;
    padding: 21px;
    width: 55%;
    margin-left: -64px;
    color: #fff;
}
.bg-wrap-right {
    background: #2c2c2c;
    color: #fff;
    border-radius: 71px;
    padding: 21px;
    width: 55%;
    margin-right: -91px;
}
.section-text-container-left {
	text-align: left;
    margin-left: 100px;
}
.section-text-container-right {
	text-align: left;
    margin-right: 131px;
    margin-left: 63px;
}

/*FOOTER*/
footer {
	/*background-color: #294db3;
	color: #fff;*/
	background-color: #ffffff;
    color: #70757d;
	padding-top: 100px;
	/*padding-left: 0px;*/
	/*padding: 100px 0px;*/
}

.main-footer {
	padding-left: 20px;
	text-align: left;
}
.footer-contents {
	text-align: left;
	padding-left: 20px;
	font-size: 35px;
	margin-top: 50px;
}
#footer-section{
	text-align: center;
	/*padding-top: 500px;*/
}

.footer-content {
	padding: 0px;
	margin: 0px;
	height: 20vh;
	text-align: center;
	align-content: center;
	
	color: white;	
	background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
}

.footer-content .content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.copyright {
	padding:0;
	margin: 0;
}
.copyright p {
	font-size: 16px;
	padding: 0;
	margin-bottom: 3px;
}
.policy {
	padding: 0;
	margin: 0;
}

.policy p{

	font-family: arial;	
	font-size: 16px;
}
.policy a {
	text-decoration: none;
	color: #5e9bfc;
}
.policy a:hover {
	
	color: #CE93D8;
	transition: all 0.25s ease 0s;
}



.bg1 {
	background-color: #bbcbea;
}
.bg2 {
	background-color: #ffffff;
}
.bg3 {
	background-color: #0050EF;
	color: white;
}

.section-text-container-work h1{
	font: 'roboto';
	font-size: 3em;
}

.section-title-even{
	color: yellow;
}
.section-title-odd{
	color: #3667C1;
}




.map-container{
	width: 100%;
	position: relative;
	/* height: 80vh; */
	padding: 0px;
	margin: 0px;
}
.flip-map{
	height: 60vh;
	width: 100%;
	z-index: 0;
	padding: 0px;
	
	margin: 0px;
	
}
.map-address {
	width: 30%;
	height: 100px;
	background-color: rgba(0, 80, 239,0.80);
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	padding:13px;
}

.text-address {
	position: relative;
	width: 80%;	
	margin: 0 auto;

}
.text-address span {

	margin-right: 20px;

}



.text-address p {
	font-family: 'roboto';
	font-size: 14px;
	color: white;

	
}



.auto {
	margin: auto;
}

/* Contact form*/
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	text-align: left;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.row-footer {
	display: block;
}
#footer-section h2 {
    color: #000;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}

.btn-sending-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    /* transition: all 0.25s ease 0s; */
}

/* Test queries*/

/*mobile*/
@media(max-width: 1400px) {
	#banner .content-wrap,
	#banner-solutions .content-wrap, 
	#banner-whywork .content-wrap {
		padding-top: 274px;
	}

}

@media(max-width: 1200px) {
	.main-footer {
		padding-left: 0px;
	}
	.main-footer h1 {
		font-size: 27px;
	}
	.footer-contents {
		padding-left: 0px;
		font-size: 20px;
	}
	.big {
		font-size: 4rem;
	}
	.text-address p {
		font-size: 12px;
	}


}

@media(max-width: 778px) {
	.flex-container {
		display: block;
	}
	nav ul {
		display: contents;
	}
	/* BURGER MENU + MENU*/
	#burger-menu {
	  cursor: pointer;
	  height: 27px;
	  width: 27px;
	  margin: 22px;
	  overflow: hidden;
	  position: relative;
	  z-index:5;
	  float: right;
	}
	#burger-menu span,
	#burger-menu span:before,
	#burger-menu span:after {
	  background: #fff;
	  display: block;
	  height: 4px;
	  opacity: 1;
	  position: absolute;
	  transition: 0.3s ease-in-out;
	  -webkit-transition: 0.3s ease-in-out;
	}
	#burger-menu span:before,
	#burger-menu span:after {
	  content: "";
	}
	#burger-menu span {
	  right: 0px;
	  top: 13px;
	  width: 27px;
	}
	#burger-menu span:before {
	  left: 0px;
	  top: -10px;
	  width: 16px;
	}
	#burger-menu span:after {
	  left: 0px;
	  top: 10px;
	  width: 20px;
	}


	#burger-menu.close span {
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  top: 13px;
	  width: 27px;
	}
	#burger-menu.close span:before {
	  top: 0px;
	  transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	  width: 27px;
	}
	#burger-menu.close span:after {
	  top: 0px;
	  left:0;
	  transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	  opacity:0;
	  width:0;
	}

	#menu{
	  z-index:1;
	  min-width:100%;
	  min-height:100%;
	  position: fixed;
	  top:0;
	  left:0;
	  height:0;
	  visibility: hidden;
	  opacity: 0;
	  text-align:center;
	  padding-top:20px;
	  transition: all 0.3s ease-in-out;
	  -webkit-transition: all 0.3s ease-in-out; 
	}

	#menu.overlay{
	  z-index: 1;
	  visibility: visible;
	  min-width:100%;
	  min-height:100%;
	  height: 100%;
	  opacity: 1;
	  padding-top:100px;
	  background: rgba(0, 0, 0, 0.84);
		
	}

	#menu li{
	  list-style:none;
	}
	#menu a{
	  color:#fff;
	  display:block;
	  font-size: 32px;
	  margin-bottom:30px;
	  text-decoration:none;
	}




	.privacy-list .list {
	
		margin: 0;
		padding: 0;
		list-style: none;
		align-content: left;
		text-align: left;
	
		
	}

	.privacy-list .list .item-list {
		margin-top: 7px;
	}
 	i.chev {
		display: block;
	}


	
	
}

@media(max-width: 991px){
	i.chev {
		display: block;
	}

	.dropdown-me {
		display: inline;
	}
	div.cookie-container {
		right: 10px;
		width: 100%;
		height: 80px;
		bottom: 0px;

	}
	#mob-privacy-policy.list-mobile {
		z-index: 2;
		
	}

	.cookie-content {
		/* width: 80%; */
		margin: 0 auto;
	}

	div.cookie-header p {
		float: left;
		font-size: 12px;
	}
	div.cookie-content .btn {
		float: right;
		font-size: 13px;
		padding: 2px;
		/* width: 12px; */
	}

		
	
.list-mobile {
	
	border-bottom: 1px solid #E5E5E5;
}

.item-list.list-mobile a{
	color: blue;
	font-size: 5rem;
}


.privacy-list .list {
	
	margin: 0;
	padding: 0;
	list-style: none;
	align-content: left;
	text-align: left;
}

.section-text-container h1{
	font-size: 2rem;
}

.section-text-container p{
	font-size: 1rem;
}



}

@media(max-width: 824px){

	div.cookie-container {
		/* right: 10px; */
		width: 100%;
		height: 100px;
		bottom: 0px;
		padding: 0;

	}

	.cookie-content {
		/* width: 80%; */
		margin: 0 auto;
		width: 30%;
		float: left;


	}
	.cookie-header {
		width: 70%;
		float: left;
		display: block;

	}

	div.cookie-header p {
		
		font-size: 12px;
		
	}
	div.cookie-content .btn {
		font-size: 13px;
		padding: 1px;
		display: block;
		/* width: 12px; */
	}
	.text-address p {
		font-size: 10px;
	}



}
@media(max-width: 1000px) {
	#solution-one .flex-container {
		display: block;
		margin-top: 20px;
	}
	#solution-one .box {
		order: 1;
	}
	#solution-one .bg-wrap-left,
	#solution-one .bg-wrap-right,
	#solution-one .img-wrap {
		margin: auto;
		width: 80%;
	}
	.bg-wrap-right {
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.bg-wrap-left {
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.big {
		font-size: 3rem;
	}

}



@media(max-width: 768px) {
	nav {
		padding: 10px 22px;
	}
	nav.black {
		padding: 10px 22px;
	}
	#banner .content-wrap {
		padding-left: 48px;
	}
	#overview, 
	#services,
	#section-a,
	footer {
		padding-left: 80px;
    	padding-right: 80px;
	}
	#deserve {
		padding: 50px;
	}
	#deserve h3 {
		font-size: 22px;
	}
	#deserve h4 {
		font-size: 19px;
	}
	#banner-solutions .content-wrap, 
	#banner-whywork .content-wrap {
		padding-left: 50px;
    	padding-right: 50px;
	} 
	.section-text-container-left,
	.section-text-container-right {
		margin: 0px;
	}
	#solution-one h1 {
		font-size: 28px;
	}
	#solution-two h1 {
		font-size: 22px;
	}
	#solution-two {
		padding-left: 50px;
    	padding-right: 50px;
	}
	.consult-button,
	.consult-button-black {
		font-size: 18px;
	}


}
@media(max-width: 575px) {
	.section-text-container-work {
    	width: 18rem;
	}
	.card-image {
		min-height: 14rem;
	}
	.img-wrap {
    	width: 18rem;
	}
	
	.big {
		font-size: 50px;
	}
	.nanum {
		font-size: 17px;
		max-width: 95%;
	}

	#about-us h1 {
		font-size: 3rem;
	}

	#about-us p{
		font-size: 1.3rem;
		width: 100%;
	}

	.map-address{
		height: 170px;
	}
	.text-address p {
		font-size: 12px;
	}

	.section-text-container h1{
		font-size: 1.6rem;
	}
	
	.section-text-container p{
		font-size: 0.9rem;
	}
	
	
	
}

@media(max-width: 505px){

	div.popup div.cookie-body {
		height: 100%;
		position: relative;
		padding: 0px;
		margin: 0px;
		
	}

	div.cookie-container.popup {
		height: 100px;

	}
	div.cookie-body div.cookie-header {
		
		height: 100%;
	padding: 10px;
	
		padding-top: 30px;
	}

	div.cookie-content {
		height: 100%;
		padding: 10px;
	
		text-align: center;
		align-content: center;
		position: absolute;
		top: 0;
		right: 0;
		/* padding-top: 15px; */
	}
	

	div.cookie-content .cookie-btn{
		margin-top: 8px;
		padding: 5px;
		float: left;
	}
	div.cookie-content button.cookie-btn{
		width: 80px;
	}


	.cookie-dismissal .fas {

		z-index: 6;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	li.item-list.list-mobile a{
		margin: 3px;
		font-size: 1.1rem;
	}

	



	

	

}

@media(max-width: 475px){
	.privacy-list ul li {
		font-size: 15px;
	}
	.item-list .fas  {
		margin-left: 5px;
	}

	.copyright h3 {
		font-size: 25px;
		font-weight: 560;
	}
	.copyright p {
		padding: 0;
		margin-bottom: 2px;
		font-size: 13px;
		font-weight: 550;
	}
	.policy p {
		
		font-size: 13px;
	}

	.big {
		font-size: 46px;
	}
	.nanum {
		font-size: 16px;
		max-width: 80%;
	}

	#about-us h1 {
		font-size: 2.4rem;
	}

	#about-us p{
		font-size: 1rem;
		width: 100%;
	}
	
	.map-address{
		height: 100px;
		width: 100%;
	}
	.text-address p {
		font-size: 12px;
	}
}
@media(max-width: 414px) {
	#overview, 
	#services,
	#section-a,
	footer {
		padding-left: 25px;
    	padding-right: 25px;
	}
	.card-image {
		min-height: 14rem;
	}
	.footer-contents {
		font-size: 16px;
	}
	#about-us h1 {
		font-size: 2.1rem;
	}

	#about-us p{
		font-size: 1.1rem;
		width: 100%;
	}

	
}

@media(max-width: 320px) {
	.section-text-container-work {
    	width: 18rem;
	}
	.card-image {
   		min-height: 9rem;
	}
	#burger-menu {
   		margin-top: 24px;
    	margin-left: 9px;
	}
	.content-wrap,
	#banner-solutions .content-wrap,
	#banner-whywork .content-wrap{
		padding-top: 146px;
		padding-left: 34px;
		padding-right: 17px;
	}
	.img-wrap.auto{
    	width: 14rem;
	}

	#about-us h1 {
		width: 100%;
		font-size: 1.8rem;
	}

	#about-us p{
		font-size: 0.99rem;
		width: 100%;
	}



}

@media(max-width: 500px){
	h1.display-4 {
		font-size: 40px;
	}
	p.lead {
		font-size: 15px;
	}
	img.gif {
		height: 100px;
		width: 100px;
	}
}

/* Media queries (height)*/

@media(max-height: 414px) {
	#banner .content-wrap,
	#banner-solutions .content-wrap, 
	#banner-whywork .content-wrap {
		padding-top: 153px;
	}
}

@media(max-height: 320px) {
	#banner .content-wrap,
	#banner-solutions .content-wrap, 
	#banner-whywork .content-wrap {
		padding-top: 113px;
	}
}

.sending-cursor {
	cursor: not-allowed;
}


.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-fwd-center {
	0% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	}
	100% {
	  -webkit-transform: translateZ(160px);
			  transform: translateZ(160px);
	}
  }
  @keyframes slide-fwd-center {
	0% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	}
	100% {
	  -webkit-transform: translateZ(160px);
			  transform: translateZ(160px);
	}
  }

  .cookie-container{
	position: sticky;
	
	bottom:0px;
	/* left: 80%; */

	width: 100%;

	height: 140px;
	background-color:#0050EF;

	-webkit-box-shadow: -5px -12px 20px -6px rgba(46,74,117,0.38);
-moz-box-shadow: -5px -12px 20px -6px rgba(46,74,117,0.38);
box-shadow: -5px -12px 20px -6px rgba(46,74,117,0.38);
	
	/* background: #396afc; 
	background: -webkit-linear-gradient(to right, #2948ff, #396afc); 
	background: linear-gradient(to right, #2948ff, #396afc); */


 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
	display: none;

}



.bgwhite .container {
	/* text-align: center;
	 */
	 align-content: center;
	 text-align: center;
	 /* background-color: red; */
}
p.lead {
	margin: 0px;
}
img.gif {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.cookie-header p {
	
	color: white;
	font-size: 20px;
}
.cookie-dismissal .fas{
	position: absolute;
	top: 10px;
	right: 20px;
	transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cookie-dismissal .fas:hover{
	color: red;
}

.fixed {
	position: fixed;
}

  .cookie-body {
	  padding: 40px;


  }
  .cookie-dismissal {
	  float: right;
	  margin: 10px;
  }

  .cookie-content .btn {
	  margin-right: 4px;
  }

  .innerlist {
	  margin-left: 10px;
	  list-style: georgian
  }




  /* enndd */

  /* privacy and policies */

  .full-width {
	  max-width: 5
  }
  
  .box.privacy-list, .box.privacy-content {
	  max-width: 50%;
	  margin: 0;
	  padding: 0;
  }

  .app {
	  margin-top: 40px;
	  margin-bottom: 60px;
  }

  .privacy-list {
	   /* margin: 10px; */
	  margin-top: 33px;
	  /* margin-bottom: 50px; */
	  padding-left: 10px;
	  position: -webkit-sticky;
	  position: sticky;
	  top: 200px;
	  bottom: 300px;
  }

  .privact-content-text .privacy-liststyle {
	  position: relative;
	  margin-left: 20px;
	  margin-bottom: 5px;
	  
  }

  .privacy-liststyle.instruction::before {

	font-family: "Font Awesome 5 Free";
	content: "\f303";
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 12px;
	color: #424242;
	  
  }



.privacy-liststyle::before {
		position: absolute;
		top: 0px;
		left: -16px;
		font-family: "Font Awesome 5 Free";
		content: "\f111";
		display: inline-block;
		vertical-align: middle;
		font-weight: 900;
		font-size: 8px;
		color: #424242;

	}

	.inner-privacylist {
		margin-left: 40px;
		position: relative;
		margin-bottom: 7px;
	}

	.inner-privacylist.note::before{
		font-family: "Font Awesome 5 Free";
		content: "\f06a";
		display: inline-block;
		vertical-align: middle;
		font-weight: 900;
		font-size: 12px;
		color: #37474F;
	}

	.inner-privacylist::before {
		position: absolute;
		top: 0px;
		left: -16px;
		font-family: "Font Awesome 5 Free";
		content: "\f061";
		display: inline-block;
		vertical-align: middle;
		font-weight: 900;
		font-size: 12px;
		color: #37474F;
	}
	.date-privacy {
		font-size: 15px;
		
	}

  .privacy-list ul {
	
	/* margin: 0;
	 */
	 margin-right: 15px;
	padding: 0;
	list-style: none;
	text-align: right;
	}

  .privacy-list ul li {
	  position: relative;
	  padding: 5px;
	  text-decoration: none;
  }

  .item-list.list-mobile a:hover{
	  
	text-decoration: none;
	color:#0099FF;
	cursor: pointer;

}  

.item-list.list-mobile a{
	color:#2359BB;
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 1.2rem
}

  
.privacy-content {
	text-align: left;
	text-justify: auto;
	
}

.privact-content-text {
	margin-left: 0px;
	text-align: left;
	
}
.container-fluid.pivacy{
	font-family: 'roboto';
}

.privact-content-text p {
	line-height: 28px;
	
	font-weight: 100;
	
}



.privacy-content-title {
	font-weight: bold;
	margin-top: 200px;
	
	margin-top: 35px;
}


.list-mobile:hover .chev{
	color: #7F7F7F;
}


.chev {
	display: none;
	float: right;
	color: #E5E5E5;
	transition: color 0.3s ease-in-out;
}

.chev-color {
	color: #7F7F7F;
}
.chev:hover {
	color: #7F7F7F;
}

.active {
	position: relative;	

}



.active::after {
	position: absolute;
	top: 3px;
	right: -20px;
	font-family: "Font Awesome 5 Free";
	content: "\f0d9";
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 30px;
	color: #0050EF;
}

.active::before {
	position: absolute;
	bottom: -3px;
	right: 0px;
	content: "";
	border-bottom: 2px solid #0050EF ;
	width: 100%;
	-webkit-animation-name: borderanim; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: borderanim;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes borderanim {
	from {width: 0%;}
	to {width: 100%;}
  }
  
  /* Standard syntax */
  @keyframes borderanim {
	from {width: 0%;}
	to {width: 100%;}
  }


div.container-fluid.privacy {
	margin-top: 30px;
}

#about-us {
	background-color: #0050EF;
}

/* For mobile viewing of Policy content */
.for-mobile {
	display: none;
	min-width: 100%;
}


/* Services */

.solutions h1 {
	font-size: 4rem;
}

.services-container {
	padding: 40px;
}

.card-description h2 {
	/* align-content: b */
	font-size: 20px;
}


.card {
	position: relative;
	width: 80%;
	height: 400px;
	background-color: #e5e6e7;;
}
.card img{
	-webkit-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	overflow: auto;
}

.card:hover .card-image {
	z-index: 0;
	opacity: 0.8;
	-webkit-transform: rotate(-10deg) scale(0.9);
	transform: rotate(-10deg) scale(0.9);
	
  }

  
  
  .card:hover .learn-more {
	opacity: 1;
	z-index: 1;

  }

.learn-more {

	background-color:red;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	background: rgba(0, 0, 0, 0.84)
	
}

/* careers */
.career-header {
	height: 100vh;
	width: 100%;
	background-color: #0050EF;

}

.career-jumbotron {
	height: 100%;
	width: 100%;
	

	padding-top: 70%;
}

.career-jumbotron h1 {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: white;
	text-transform: uppercase;

	text-align: left;
	color: #F7ED25;
}

.career-jumbotron p {
	color: rgb(250, 110, 110);
}

.career-image {


	padding: 30% 20px 40% 20px;
	margin-bottom: 100px;
}


.w-80 {
	width: 80% !important;

	margin: 0 auto;
}


.job-list {
	margin-bottom: 40px;	
}

.job-list .title {
	margin-bottom: 40px;
}

div.card.job-card {
	overflow: auto;
	
}


div.card-body {
	padding: 20px;

}
div.card-text {
	text-align: center;
	font-size: 15px;
}

.card-b {
	margin-bottom: 10px;
}

.job-list {
	float: left;
}

.job-section {
	width: 88%;
	height: 100%;
	margin: 0 auto;
}


.clear {
	clear: both;
}








